@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Numans:wght@800&display=swap");
:root {
  font-family: Numans;
  --border-radius: 0;
  --form-element-spacing-vertical: 1rem;
  --form-element-spacing-horizontal: 1.25rem;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Numans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Numans;
  color: white;
}

h1 {
  --font-size: 2.5rem;
  --typography-spacing-vertical: 2.5rem;
}

h2 {
  --font-size: 2rem;
  --typography-spacing-vertical: 2rem;
}

h3 {
  --font-size: 1.75rem;
  --typography-spacing-vertical: 1.75rem;
}

h4 {
  --font-size: 1.5rem;
  --typography-spacing-vertical: 1.5rem;
}

h5 {
  --font-size: 1.25rem;
  --typography-spacing-vertical: 1.25rem;
}

/* responsive nav menu  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background-color: black;
  position: fixed;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Numans", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 30px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #2fc912;
}

.cta {
  padding: 9px 25px;
  background-color: #209409;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #2fc912;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #2fc912;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
    display: initial;
  }
  .menu {
    display: initial;
  }
}

/* hero message  */
.hero {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #0d0d0e;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
}

/* container */
.padded-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}

/* boxes */
.padded-boxes > * {
  width: 100%;
  background: #eee;
  border-radius: 0.4rem;
}

/* headings */
.padded-boxes .heading {
  /* background:black; */
  text-align: center;
  margin: 0;
  padding: 10rem;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  color: black;
}

/* padded content */
.padded-boxes .padded {
  padding: 0.1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.padded-boxes h3 {
  text-align: center;
  color: black;
  margin-top: 1rem;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .padded-boxes > * {
    width: calc((100% - 4rem) / 3);
  }
}

/* Acordians  */

.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 20px 10px 20px;
}

/* footer */

.footer-dark {
  margin-top: 4rem;
  padding: 2rem 0 2rem;
  color: #f0f9ff;
  background-color: black;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 10px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  margin: 0;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
  margin-top: 2rem;
}
